[Desktop Entry]
Type=Application
Name=Tettegouche
Comment=Just type. Find apps, files, settings, and the web in one place
Exec=tettegouche
Icon=studio.warbler.tettegouche-logo
Terminal=false
NoDisplay=true
Categories=Utility;System;
StartupNotify=true
