[Desktop Entry]
Type=Application
Name=Tettegouche
Comment=Find and launch applications
Exec=tettegouche
Icon=system-search
Terminal=false
NoDisplay=true
Categories=Utility;System;
StartupNotify=true
